/* *************
   *  RESET    *
   ************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* *************
   *  UTILS    *
   ************* */
.flex {
  display: flex;
}

/* *************
   *  HEADER   *
   ************* */
header + * {
  padding-top: 80px;
}
header {
  background-color: #0084fd;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > * {
  padding: 0 1rem;
}
.img-logo {
  width: 50%;
}
nav {
  width: 50%;
  color: antiquewhite;
  font-size: 2rem;
  justify-content: right;
}
.nav-bars {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: none;
}
ul > li {
  list-style: none;
}
.link-list {
  display: flex;
  justify-content: space-between;
}
.link-list > li {
  font-size: 1rem;
}
li > span {
  padding: 5px 10px;
  color: black;
  background-color: aliceblue;
  border-radius: 15px;
}
/* *********************
   *  SECTION - CARDS  *
   ********************* */
.card-container {
  background-color: chocolate;
  width: 100%;
  /* height: 1200px; */
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: #b5ddff;
  width: 80%;
  /* height: 740px; */
  margin: 20px 0;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
}
.card > h2 {
  margin: 15px 0;
  color: #0084fd;
}
.card > p {
  color: grey;
  margin: 15px 0;
  padding: 0 25px;
}
.card > button {
  border: none;
  background-color: #0084fd;
  color: white;
  margin: 30px;
  padding: 10px;
  font-size: 2rem;
  border-radius: 25px;
}
.card > img {
  width: 100%;
}
.card > .fa-solid {
  margin: 15px 0;
  font-size: 4rem;
  color: #0084fd;
}
/* ************************
   *  SECTION - PLANNING  *
   ************************ */

.planning {
  background-color: violet;
  width: 100%;
}

/* ****************************
   *  SECTION - TESTIMONIALS  *
   **************************** */

.testimonials {
  background-color: burlywood;
}

/* ************************
   *  SECTION - BENEFITS  *
   ************************ */

.benefits {
  background-color: darkslateblue;
}

/* ************************
   *  SECTION - ABOUT US  *
   ************************ */

.about {
  background-color: crimson;
}

/* ***************************
   *  SECTION - GET STARTED  *
   *************************** */

.start {
  background-color: aqua;
}

/* ************
   *  FOOTER  *
   ************ */

.footer {
  background-color: #333333;
}
/* *****************
   *  RESPONSIVE   *
   ***************** */
@media screen and (min-width: 576px) {
  .card-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card:first-child {
    width: calc(90% / 3 * 2);
  }
  .card {
    width: calc(90% / 3);
    margin: 20px;
    flex-grow: 1;
  }
  .card > img {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  nav > .nav-bars {
    display: none;
  }
  .nav-links {
    width: 100%;
    display: block;
  }
}
