/* *************
   *  RESET    *
   ************* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* *************
   *  UTILS    *
   ************* */
.flex {
  display: flex;
}

/* *************
   *  HEADER   *
   ************* */
header + * {
  padding-top: 80px;
}
header {
  background-color: blue;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > * {
  padding: 0 1rem;
}
.img-logo {
  width: 50%;
}
nav {
  width: 50%;
  color: antiquewhite;
  font-size: 2rem;
  justify-content: right;
}
.nav-bars {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: none;
}
ul > li {
  list-style: none;
}
.link-list {
  display: flex;
  justify-content: space-between;
}
.link-list > li {
  font-size: 1rem;
}
li > span {
  padding: 5px 10px;
  color: black;
  background-color: aliceblue;
  border-radius: 15px;
}
/* *************
   *  SECTION   *
   ************* */
.card-container {
  background-color: chocolate;
  width: 100%;
  height: 1200px;
  justify-content: center;
}
.card {
  background-color: aqua;
  width: 80%;
  height: 722px;
  margin: 20px 0;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
}
.card > h2 {
  margin: 15px 0;
  color: blue;
}
.card > p {
  padding: 0 15px;
}
.card > button {
  border: none;
  background-color: blue;
  color: white;
  margin: 30px;
  padding: 10px;
  font-size: 2rem;
  border-radius: 25px;
}
.card > img {
  width: 100%;
}
/* *****************
   *  RESPONSIVE   *
   ***************** */
@media screen and (min-width: 992px) {
  nav > .nav-bars {
    display: none;
  }
  .nav-links {
    width: 100%;
    display: block;
  }
}
